<mat-sidenav-container class="sidebar-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <mat-nav-list>
      <mat-list-item routerLink="">
        <p class="h5">Dashboard 1</p>
      </mat-list-item>
      <mat-list-item routerLink="/tour">
        <p class="h5">Dashboard 2</p>
      </mat-list-item>
      <mat-list-item routerLink="/">
        <p class="h5">Dashboard 3</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="contenedor">
    <div class="item">
      <button class="button" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <p class="h1">Nico Tours</p>
      <div class="search-container">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>

  <div class="contenido">
    <router-outlet />
  </div>
</mat-sidenav-container>